body {
  color: #333;

  * {
    font-family: Verdana, sans-serif;
  }
}

html,
body {
  min-height: 100%;
}

:global {
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-size: 15px;
    line-height: 20px;

    padding-top: 8px;
  }
}

a,
a:visited {
  color: cornflowerblue;
  text-decoration: none;
}
